<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="senderAddress" value="YOUR_GMAIL_SENDER"/>
    <add key="senderPassword" value="SENDER_PASSWORD"/>
    <add key="recipientAddress" value="RECIPIENT_ADDRESS"/>
    <!--x,y,width,height of the screenshot to take-->
    <add key="rectangleParams" value="50,100,900,800"/>
  </appSettings>
</configuration>